@font-face {
  font-family: 'Lato', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  src: url('./assets/SpaceGrotesk-Bold.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Lato', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  src: url('./assets/SpaceGrotesk-Medium.ttf');
  font-weight: 200;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #ffffff !important;
  color: #000000 !important;
  font-family: 'Space Grotesk', sans-serif !important;
}
 
 h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
 }
 nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #faf7f7;
}
nav.navbar a.navbar-brand {
    width: 9%;
    
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #000000 ;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .nav-link.navbar-link:hover{
  color: #3498DB;

}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(75, 74, 74, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(59, 59, 59, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #85DBD9;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #000000;
  border: 1px solid #7c7c7c;
  padding: 16px 20px;
  font-size: 16px;
  margin-left: 15px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #85DBD9;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #ffffff;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

.banner {
  margin-top: 0;
  padding: 190px 0 110px 0;
  position: relative;
}
.banner .tagline {
  font-weight: 600;
  letter-spacing: 0.8px;
  color:#3498DB;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #6a6969;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner img {
  position: absolute; /* Change absolute to relative */
  top: 120px;
  right: 120px;  
  width: 35%;

}

.txt-rotate > .wrap {
  border-right: 0.08em solid #a19e9e;
}


.box {
 flex: auto;
}

.rectangle  {
  background-color: #121212;
  border-radius: 60px;
  flex: auto;
  padding-bottom: 20px;
}
.rectangle .img {
  text-align: right;
  padding-right: 101px;
  
  
}



.box .overlap-group {
 
  left: 0;
  position: relative;
 
}

.box .while-mels-exists {
  color: #ffffff;
  font-family: "Space Grotesk-Medium", Helvetica;
  font-size: 17px;
  font-weight: 100;
  padding-left: 110px;
  letter-spacing: 0;
  line-height: 40px;
  position: relative;
  top: 30px;
}

.coderimg{
  width: 100%;
  padding-bottom: 30px;
}

.box .comment{
  color: #6f6e6e;
  font-size: 15px;;
}

.box .text-wrapper {
  color: #ffffff;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-size: 40px;
  font-weight: 600;
  align-items: center;
  padding-top: 20px;
  padding-left: 110px;  
 

}

.text-wrapper-2 {
  color: #ffffff;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-size: 17px;
  font-weight: 100;
  position: relative;

}

.project {
  padding: 80px 0;
  position: relative;
}
.project h2 {
	font-size: 50px;
	font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 50px;
}
.project p {
  color: #868585;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgba(16, 14, 14, 0.1);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fcfdfd;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: #1F628E;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
    border: 1px solid rgb(169, 169, 169);
}
.nav-link #projects-tabs-tab-first {
  border: 1px solid rgba(184, 184, 184, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link #projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link #projects-tabs-tab-third {
  border: 1px solid rgba(70, 70, 70, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 24px;
  }
  .proj-imgbx img{
    max-width: 100%;
    max-height: 100%;
  }
.proj-imgbx::before {
  content: "";
  background: #85DBD9;
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-desc{
  font-weight: 200;
  position: inherit;
  text-align:center;
  font-size: 20px;
  font-family:'Lato', sans-serif;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.contact {
  background: #fff;
  padding: 60px 0 200px 0;
}

.contact img {
  width: 90%;
  padding-left: 20px;
 
}


.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(248, 246, 246, 0.1);
  border: 1px solid rgba(22, 22, 22, 0.5);
  border-radius: 20px;
  color: #000;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: #fff;
  color: #e3dddd;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #1f1f1f;
  background-color: #fff;
  padding: 10px 28px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 10px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #85DBD9;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

/************ Footer Css ************/
.footer {
  padding: 0 0 40px 0;
  background-color: #000;
}
.newsletter-bx {
  background: #e6e4e9;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 100px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  padding: 7px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%,  111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: #b4b4b4;
  padding: 5px 20px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 15px;
}
.footer {
  padding-top: 20px;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.About img {
  width: 90%;
  padding-top: 50px;
}

.About{
  background: #fff;
  padding: 60px 50px 100px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 200;

}

.About h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
  }

.About p{
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 0.6px;
    line-height: 1.5em;
  }

  .Skills{
    padding-bottom: 110px;
    padding-left: 50px;
  }

  .Skills img {
    width: 90%;
    padding-left: 200px;
  
  }

  .Skills h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
.Skills p,ul {
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 0.4px;
  line-height: 1.5em;
}

