@font-face {
  font-family: 'Lato', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  src: url('./assets/SpaceGrotesk-Bold.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Lato', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  src: url('./assets/SpaceGrotesk-Medium.ttf');
  font-weight: 200;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #ffffff !important;
  color: #000000 !important;
  font-family: 'Space Grotesk', sans-serif !important;
}
 
/* Reset and normalize styles */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

/* Navbar styles */
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #faf7f7;
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav .navbar-link {
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
  text-decoration: none;
  cursor: pointer;
}

nav.navbar .navbar-link:hover {
  color: #3498DB;
}

nav.navbar .navbar-nav a.navbar-link:hover,
nav.navbar .navbar-nav a.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(75, 74, 74, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(59, 59, 59, 0.5);
  position: relative;
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #85DBD9;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: #000000;
  border: 1px solid #7c7c7c;
  padding: 16px 20px;
  font-size: 16px;
  margin-left: 15px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #85DBD9;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #ffffff;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}




/* Banner styles */
.banner {
  margin-top: 0;
  padding: 100px 0 20px 0;
  position: relative;
}

.banner .tagline {
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #3498DB;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  margin-left: 20px;
}

.banner h1 {
  font-size: 65px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  margin-left: 20px; 
}

.banner p {
  color: #6a6969;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  margin-left: 20px;
}

.banner .img-fluid {
  max-width: 100%;
  height: auto;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #a19e9e;
}

@media (max-width: 576px) {
  .banner {
    padding: 150px 0 60px 0; /* Further adjust padding for extra small screens */
  }

  .banner h1 {
    font-size: 45px; /* Adjust font size for extra small screens */
    margin-left: 5px; /* Adjust this value for extra small screens */
  }

  .banner .tagline, .banner p {
    margin-left: 5px; /* Adjust this value for extra small screens */
  }
}

.coder {
  margin-top: 50px;
}

.rectangle {
  background-color: #121212;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.code-editor {
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.editor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #333;
  border-bottom: 1px solid #444;
}

.editor-buttons {
  display: flex;
  gap: 5px;
}

.editor-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.editor-button.close {
  background-color: #ff5f56;
}

.editor-button.minimize {
  background-color: #ffbd2e;
}

.editor-button.maximize {
  background-color: #27c93f;
}

.editor-title {
  color: #ddd;
  font-family: "Space Grotesk-Bold", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.box {
  padding: 20px;
}

.text-wrapper {
  color: #ffffff;
  font-family: "Space Grotesk-Bold", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.overlap-group {
  padding: 20px;
  border-radius: 10px;
  background-color: #1e1e1e;
}

.while-mels-exists {
  color: #ffffff;
  font-family: "Space Grotesk-Medium", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 100;
  line-height: 1.5em;
}

.comment {
  color: #6f6e6e;
  font-size: 15px;
  margin-bottom: 10px;
}

.code-line {
  margin-left: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
}

.keyword {
  color: #569cd6;
}

.variable {
  color: #9cdcfe;
}

.operator {
  color: #dcdcaa;
}

.function {
  color: #dcdcdc;
}

.coderimg {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  transition: transform 0.3s ease-in
}

.project {
  padding: 80px 0;
  position: relative;
  background-color: #ffffff; /* White background color */
}

.project h2 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 50px;
  color: #000000; /* Black text color for better visibility */
}

.project p {
  color: #868585;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgba(16, 14, 14, 0.1);
  overflow: hidden;
}

.project .nav.nav-pills .nav-item {
  width: 50%; /* Adjust to 50% to account for only two tabs */
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fffbfb; /* Black text color */
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: #ffffff;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before,
.project .nav.nav-pills .nav-link:hover::before {
  width: 100% !important;
  background: #000000; /* White background on hover and active */
}

.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgb(0, 0, 0);
}

.proj-imgbx {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 24px;
  transition: transform 0.3s;
  width: 100%; /* Adjust width */
  height: 325px; /* Fixed height for consistency */
}

.proj-imgbx img {
  width: 100%; /* Ensure consistent image size */
  height: 100%;
  object-fit: cover; /* Cover to maintain aspect ratio */
}

.proj-imgbx:hover {
  transform: scale(1.05);
}

.proj-imgbx::before {
  content: "";
  background: #ffffff;
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-desc {
  font-weight: 200;
  position: inherit;
  text-align: center;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx h4 {
  font-size: 20px; /* Smaller font size */
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx span {
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.skill-badge {
  background-color: #b1c4d1;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
  font-size: 12px;
}

.project-link {
  text-decoration: none;
  color: inherit;
}


/* Existing CSS */

.contact {
  background: #fff;
  padding: 60px 30px 200px 30px;
}

.contact img {
  width: 90%;
  padding-left: 20px;
}

.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact .contact-links {
  margin-top: 20px;
}

.contact .contact-links p {
  margin-bottom: 10px;
}

.contact .email-link {
  color: #007bff; /* Change the color to your preference */
  text-decoration: none;
  font-weight: bold;
}

.contact .email-link:hover {
  text-decoration: underline;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .contact h2 {
    text-align: center;
    font-size: 36px;
  }

  .contact .contact-links {
    text-align: center;
  }

  .contact .contact-links p {
    text-align: center;
  }

  .contact img {
    display: block;
    margin: 0 auto;
  }
}


/************ Footer Css ************/
.footer {
  padding: 0 0 40px 0;
  background-color: #000;
}

.footer {
  padding-top: 30px;
}
.footer p {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.About img {
  width: 90%;
  padding-top: 50px;
  animation: cameraClick 0.5s linear forwards; /* Apply the animation directly to the image */
}

.About {
  background: #fff;
  padding: 0 50px 100px 0;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.About h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
  padding-left: 20px;
}

.About p {
  
  font-size: 18px;
  font-weight: 100; /* Adjusted font weight */
  color: #313131; /* Lighter dark gray color */
  letter-spacing: 0.6px;
  line-height: 1.5em;
  padding-left: 20px;
}

/* Define camera click animation */
@keyframes cameraClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}


.Skills {
  padding-bottom: 110px;
}

.Skills .row {
  align-items: center;
}

.Skills .skills-description {
  padding-right: 20px; /* Add some space between the text and the chart */
}

.Skills .skills-description h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #000; /* Set the color of the heading */
}

.Skills .skills-description p {
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 0.4px;
  line-height: 1.5em;
  color: #000; /* Set the color of the paragraph text */
}

.Skills .bar-graph-container {
  width: 100%; /* Ensure the bar graph container takes full width */
  max-width: 600px; /* Set a maximum width to prevent the graph from becoming too large */
  margin: 0 auto; /* Center the graph horizontally */
}

@media (max-width: 768px) {
  .Skills .bar-graph-container {
    max-width: 100%; /* Allow the chart to expand to full width on smaller screens */
  }
  .Skills .skills-description {
    text-align: left; /* Center the text on smaller screens */
    padding-left: 20px; /* Add padding to the left to match the right padding */
    padding-right: 0; /* Remove the right padding to prevent excessive spacing */
  }
}
